*{
  margin:0;
  padding:0;
}

html {
  scroll-behavior: smooth;
}

html, 
body{
    height: 100%;
    font-family: "Saira", "sans-serif";
    padding: 0px;
    margin: 0px;
}

/*Pictures and logos*/

.profile-picture-1{
    width: 200px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 50%;
}

.profile-picture-2{
    width: 200px;
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 50%;
    margin-bottom: 100px;
}

.the-logo{
  height: 45px;
  margin-top:3px;
  float: left;
}

.logo-footer{
    height: 120px;
}

.below-navbar-img{
    width: 100%;
    height: 550px;
}

.white-logo img{
    margin-left: 40%;
    margin-top: 90px;
}

.second-image{
    width: 100%;
    height: 550px;
    margin-top: 80px;
}

/*NAVBAR*/

header{
  position: absolute;
  top:0;
  Left:0;
  padding: 0 100px;
  width: 100%;
  background: #262626;
  box-sizing: border-box;
}

header .logo{
  color: #fff;
  height: 50px;
  Line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight:bold;
}

header nav{
  float: right;
}

header nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li{
  list-style: none;
}

header nav ul li a{
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
  display: block;
}

header nav ul li a:hover{
  color: #fff;
  background:#2196f3;
}
header nav ul li a.active{
  color: #fff;
  background:#2196f3;
}

.menu-toggle{
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px)
{
  header{
    padding: 0 20px;
  }
  .menu-toggle{
    display: block;
  }
  header nav{
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    top: 50px;
    Left: -100%;
    transition: 0.5s;
  }
  header nav.active{
    Left: 0;
  }
  header nav ul{
    display: block;
    text-align: center;
  }
  header nav ul li a{
   border-bottom: 1px solid rgba(0,0,0.2); 
  }
}

/* Section 1 */

h2::after {
    content: '';
    display: block;
    height: 1px;
    width: 30%;
    margin: 0.5rem auto;
    background: #7e7e7e;
}

.first-row{
  margin-top: 50px;
}

.icons{
    width: 80px;
    padding: 10px;
    border: 2px solid lightgray;
    margin-top: 20px;
}

.before-first-row{
    text-align: center;
    margin-top: 60px;
    text-transform: uppercase;
}

.before-first-row-2{
    text-align: center;
    margin-top: 40px;
}


/* Section 2 */

.profile-picture-2{
    margin-top:140px;
}

.section-2-row-1{
    margin-top: 120px;
}
.section-2-row-2{
  margin-top:140px;
}

/* FOOTER */
.footer{
    background: #303036;
    color: #d3d3d3;
    height: 300px;
}

.copyright h5{
    margin: 0 auto;
    margin-top: 140px;
}

.contact{
  margin-top:125px;
}

i{
  margin-right: 10px;
}

.contact-2{
    margin-top: 100px;
}

.vertical {
  border-left: 6px solid gray;
  margin-top: 50px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  
}

/* Making sure footer is at the bottom */

.page-wrapper{
    min-height: 100%;
}

/* Media queries */

/* MQ NAVBAR */

@media only screen and (max-width: 836px) {
  .menu li{
    width: 100px;
  }
}

/* MQ Section 1 */

@media only screen and (max-width: 385px) {
  .icons{
    width: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1160px) {
  .text-2{
    margin-left:30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1160px) {
  .text-4{
    margin-left:30px;
  }
}
/* MQ Section 2 */

@media only screen and (max-width: 1255px) {
  .profile-picture-1{
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1053px) {
  .profile-picture-1{
    margin-left: 0px;
    margin-top: 140px;
  }
}

@media only screen and (max-width: 824px) {
  .profile-picture-1{
    width: 170px;
  }
}

@media only screen and (max-width: 768px) {
  .profile-picture-1{
    width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .profile-picture-2{
    margin-bottom: 10px;
    margin-top: 40px;
    width: 180px;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* DIDNT work */

@media only screen and (max-width: 768px) {
  .profile-picture-1{
    margin-top: 40px;
    width: 180px;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 768px) {
  .img-prof-1{
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .section-2-row-1{
    margin-top: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 820px){
  .profile-picture-2{
    width:160px;
  }
}

@media only screen and (max-width: 768px) {
  .last-paragraph{
    margin-bottom: 80px;
  }
}

/* MQ Footer */

@media only screen and (max-width: 576px) {
  .footer{
    height: 400px;
  }
}

@media only screen and (max-width: 1086px) {
  .white-logo img{
    width:150px;
    height: auto;
    margin-left:30%;
    margin-top: 120px;
  }
}

@media only screen and (max-width: 794px) {
  .white-logo img{
    margin-left: 10%;
  }
}

@media only screen and (max-width: 652px) {
  .white-logo img{
    margin-left: 10%;
    width:90%;
    margin-top: 120px;
  }
}

@media only screen and (max-width: 652px) {
  .white-logo img{
    margin-left: 10%;
    width:110%;
    margin-top: 120px;
  }
}

@media only screen and (max-width: 576px) {
  .white-logo img{
    margin-top: 80px;
  }
}

@media only screen and (max-width: 558px) {
  .copyright h5{
    margin: 0 auto;
    margin-top: 140px;
  }
}
  
@media only screen and (max-width: 432px) {
  .contact{
    margin-top: 80px;
  }
}

@media only screen and (max-width: 446px) {
  .copyright h5{
    margin-top:110px;
  }
}

@media only screen and (min-width: 576px) {
  .contact-2{
    display: none;
    margin-top: 100px;
  }
}