body{
    margin: 0;
    font-family:'Work Sans', sans-serif;
    font-weight: 400;
}



.container{
    width: 80%;
    margin: 0 auto;
}

.logo{
    width:auto;
    height:50px;
    float: left;
    padding:10px 0;
}

header::after{
    content: '';
    display:table;
    clear:both;
}

nav ul{
    margin:0;
    padding:0;
    list-style:none;
}

nav li{
    display:inline-block;
    margin-right: 40px;
    margin-left: 30px;
    padding-top: 22px;
}

nav ul > li > a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

nav a:hover {
    color: RGB(128,156,206) ;
}